@font-face {
  font-family: Quicksand;
  src: url("./../Fonts/quicksand/Quicksand-Regular.otf");
}

body {
  margin: 0;
  font-family: Quicksand;
  & * > a {
    text-decoration: none;
  }

  background: #ababab;
}

.green {
  color: lime;
}